# VSCode-specific
.vscode/

# Python-specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pyc
*.egg
*.egg-info/
*.dist-info/
*.log
*.sqlite3
*.env

# Virtual environments
env/
venv/
ENV/
.virtualenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage and reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
*.pytest_cache/
.cache/

# MyPy and other static analysis tools
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# System-specific
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.swp
*.swo
*.~undo-tree~
*.bak
*.tmp
*.temp
*.~lock.*
*.~*

# Compiled bytecode
*.pyc
